.page
  header.header
    .header__container
      h1 ArcTouch
      h2 We design lovable apps and develop technology for the connected world.
      ul
        li
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for IOS")
            img(src="../img/icons/system/apple.png" alt="Apple icon")
        li
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for Android")
            img(src="../img/icons/system/android.png" alt="Android icon")
        li
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for Windows phone")
            img(src="../img/icons/system/windows.png" alt="Windows phone icon")
  main.main
    .carousel-container
  footer.footer