$verde: #d5f943;
$verde-barra: #aebd40;
$azul: #00B6ED;
$azul-claro: rgba(0,182,237,0.20);

@font-face {
	font-family: 'WhitmanDisplayCond';
	font-style: normal;
	font-weight: 800;
	src: url(https://ogcss.infoglobo.com.br/2341343141/font/WhitmanDisplayCond-ExtBold.otf) format('opentype')
}

$fw: 'WhitmanDisplayCond';
$fa: 'Arial, Helvetica, sans-serif';

$breakpoint-tablet: 768;
$breakpoint-tablet: 699;


