$blue: #3498db;
$blue-dark: #0d74b9;
$gray: #848484;
$gray-bg: #e7e7e7;
$gray-border: #e5e5e5;

@import url('https://fonts.googleapis.com/css?family=Pacifico');
//closest to Myriad Pro
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$fp: 'Pacifico', cursive;
$fh: Helvetica , Arial, sans-serif;
$fm: 'Myriad Pro' , 'PT Sans', sans-serif;

$desktop-width: 1200px;
$header-width: 1000px;
$tablet-width: 1024px;
$feature-one-column: 714px;
$mobile-width: 640px;
$mobile-width-small-devices: 460px;

.page{
	.header{
		width: 100%;
		height: 600px;
		box-sizing: border-box;
		padding: 0 20px;
		background: url('../img/pattern.jpg') -40px top repeat;
		&__container{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			max-width: $header-width;
			margin: 0 auto;
			padding-top: 145px;
			background: url('../img/header-hand.png') right bottom no-repeat;
			h1{
				font-family: $fp;
				font-size: 72px;
				line-height: 72px;
				margin-bottom: 40px;
				color: white;
				text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
			}
			h2{
				max-width: 440px;
				font-family: $fh;
				font-size: 24px;
				line-height: 36px;
				color: white;
				text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
				margin: 15px 0 23px 0;
			}
			ul{
				li{
					opacity: 0.5;
					display: inline-block;
					transition: all .3s ease-in-out;
					&:hover{
						opacity: 1;
					}
					&:nth-child(2){
						margin: 0 5px;
					}
					a{
						cursor: pointer;
					}
				}
			}
		}
		@media screen and (max-width: $tablet-width){
			height: auto;
			min-height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__container{
				padding-top: 0;
				background: none;
				text-align: center;
				h2{
					margin: 15px auto 23px auto;
				}
			}
		}
		@media screen and (max-width: $mobile-width){
			height: auto;
			min-height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__container{
				padding-top: 0;
				background: none;
				text-align: center;
				h1{
					font-size: 60px;
					margin-bottom: 30px;
					color: white;
					text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
				}
				h2{
					font-size: 22px;
					line-height: 32px;
				}
				ul{
					li{
						opacity: 1;
					}
				}
			}
		}
	}
	.features{
		width: 100%;
		max-width: $desktop-width;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 60px 10px 60px 10px;
		&__header{
			max-width: 1020px;
			margin: 0 auto;
			text-align: center;
			h3{
				font-family: $fm;
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 25px;
			}
			p{
				font-family: $fh;
				font-size: 16px;
				line-height: 26px;
				color: $gray;
			}
			@media screen and (max-width: $tablet-width){
				h3{
					font-size: 26px;
					margin-bottom: 20px;
				}
				p{
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
		&__list{
			margin-top: 50px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			li{
				width: 100%;
				max-width: 320px;
				text-align: center;
				padding: 50px 0;
				transition: all 0.2s ease-in-out;
				&:nth-child(1), &:nth-child(2), &:nth-child(3),{
					border-bottom: 1px solid $gray-border;
				}
				&:last-child{
					border-bottom: none;
				}
				&:hover{
					background: $gray-bg;
				}
				img{
					display: inline-block;
				}
				h4{
					font-family: $fm;
					font-size: 24px;
					font-weight: 700;
					margin: 28px 0;
				}
				p{
					font-family: $fh;
					font-size: 16px;
					line-height: 26px;
					color: $gray;
				}
			}
			@media screen and (max-width: $tablet-width){
				li{
					padding: 25px 0;
					margin: 0 10px;
					border-bottom: 1px solid $gray-border;
					 &:nth-child(5),{
						border-bottom: none;
					}
					h4{
						font-size: 20px;
						margin: 18px 0;
					}
					p{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
			@media screen and (max-width: $feature-one-column){
				margin-top: 25px;
				li{
					 &:nth-child(5){
						border-bottom: 1px solid $gray-border;
					}
				}
			}
		}
	}
	.about{
		background: $gray-bg;
		&__container{
			width: 100%;
			max-width: $desktop-width;
			box-sizing: border-box;
			padding: 60px 10px 60px 10px;
			margin: 0 auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			&__explanation{
				width: 100%;
				max-width: p(540,1200);
				padding-right: 10px;
				h3{
					font-family: $fm;
					font-size: 30px;
					font-weight: 700;
					margin-bottom: 25px;
				}
				p{
					font-family: $fh;
					font-size: 16px;
					line-height: 26px;
					color: $gray;
					margin-bottom: 25px
				}
				ul{
					li{
						font-family: $fh;
						font-size: 16px;
						color: $gray;
						&:first-child{
							margin-bottom: 13px;
						}
						img{
							display: inline-block;
							position: relative;
							top: 1px;
							margin-right: 10px;
						}
					}
				}
			}
			&__video{
				width: 100%;
				max-width: 500px;
				border-radius: 10px;
				background: red;
				background: white;
				overflow: hidden;
			}
			@media screen and (max-width: $tablet-width){
				padding: 60px 20px 60px 20px;
				&__explanation{
					max-width: 100%;
					padding-right: 0;
					margin-bottom: 30px;
					h3{
						text-align: center;
						font-size: 26px;
						margin-bottom: 20px;
					}
					p{
						font-size: 14px;
						line-height: 24px;
						margin-bottom: 15px;
					}
					ul{
						li{
							font-size: 14px;
							line-height: 24px;
							&:first-child{
								margin-bottom: 0px;
							}
							img{
								display: inline-block;
								position: relative;
								top: 1px;
								margin-right: 3px;
							}
						}
					}
				}
			}
			@media screen and (max-width: $mobile-width){
				&__video{
					iframe{
						height: 270px;
					}
				}
			}
			@media screen and (max-width: $mobile-width-small-devices){
				&__video{
					iframe{
						height: 200px;
					}
				}
			}
		}
	}
}


