
.page{
	.header{
		width: 100%;
		height: 600px;
		box-sizing: border-box;
		padding: 0 20px;
		background: url('../img/pattern.jpg') -40px top repeat;
		&__container{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			max-width: $header-width;
			margin: 0 auto;
			padding-top: 145px;
			background: url('../img/header-hand.png') right bottom no-repeat;
			&__title{
				font-family: $fp;
				font-size: 72px;
				line-height: 72px;
				margin-bottom: 40px;
				color: white;
				text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
			}
			&__subtitle{
				max-width: 440px;
				font-family: $fh;
				font-size: 24px;
				line-height: 36px;
				color: white;
				text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
				margin: 15px 0 23px 0;
			}
			&__list{
				&__item{
					opacity: 0.5;
					display: inline-block;
					transition: all .3s ease-in-out;
					&:hover{
						opacity: 1;
					}
					&:nth-child(2){
						margin: 0 5px;
					}
					a{
						cursor: pointer;
					}
				}
			}
		}
		@media screen and (max-width: $tablet-width){
			height: auto;
			min-height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__container{
				padding-top: 0;
				background: none;
				text-align: center;
				&__subtitle{
					margin: 15px auto 23px auto;
				}
			}
		}
		@media screen and (max-width: $mobile-width){
			height: auto;
			min-height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__container{
				padding-top: 0;
				background: none;
				text-align: center;
				&__title{
					font-size: 60px;
					margin-bottom: 30px;
					color: white;
					text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
				}
				&__subtitle{
					font-size: 22px;
					line-height: 32px;
				}
				&__list{
					&__item{
						opacity: 1;
					}
				}
			}
		}
	}
	.features{
		width: 100%;
		max-width: $desktop-width;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 60px 10px 60px 10px;
		&__header{
			max-width: 1020px;
			margin: 0 auto;
			text-align: center;
			&__title{
				font-family: $fm;
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 25px;
				color: $black-smooth;
			}
			&__description{
				font-family: $fh;
				font-size: 16px;
				line-height: 26px;
				color: $gray;
			}
			@media screen and (max-width: $tablet-width){
				&__title{
					font-size: 26px;
					margin-bottom: 20px;
				}
				&__description{
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
		&__list{
			margin-top: 50px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			&__item{
				width: 100%;
				max-width: 320px;
				text-align: center;
				padding: 50px 0;
				transition: all 0.2s ease-in-out;
				&:nth-child(1), &:nth-child(2), &:nth-child(3),{
					border-bottom: 1px solid $gray-border;
				}
				&:last-child{
					border-bottom: none;
				}
				&:hover{
					background: $gray-bg;
				}
				img{
					display: inline-block;
				}
				&__title{
					font-family: $fm;
					font-size: 24px;
					font-weight: 700;
					margin: 28px 0;
					color: $black-smooth;
				}
				&__description{
					font-family: $fh;
					font-size: 16px;
					line-height: 26px;
					color: $gray;
				}
			}
			@media screen and (max-width: $tablet-width){
				&__item{
					padding: 25px 0;
					margin: 0 10px;
					border-bottom: 1px solid $gray-border;
					 &:nth-child(5),{
						border-bottom: none;
					}
					&:hover{
						background: none;
					}
					&__title{
						font-size: 20px;
						margin: 18px 0;
					}
					&__description{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
			@media screen and (max-width: $feature-one-column){
				margin-top: 25px;
				&__item{
					 &:nth-child(5){
						border-bottom: 1px solid $gray-border;
					}
				}
			}
		}
	}
	.about{
		background: $gray-bg;
		&__container{
			width: 100%;
			max-width: $desktop-width;
			box-sizing: border-box;
			padding: 60px 10px 60px 10px;
			margin: 0 auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			&__explanation{
				width: 100%;
				max-width: p(540,1200);
				padding-right: 10px;
				&__title{
					font-family: $fm;
					font-size: 30px;
					font-weight: 700;
					margin-bottom: 25px;
					color: $black-smooth;
				}
				&__paragraph{
					font-family: $fh;
					font-size: 16px;
					line-height: 26px;
					color: $gray;
					margin-bottom: 25px
				}
				&__list{
					&__item{
						font-family: $fh;
						font-size: 16px;
						color: $gray;
						&:first-child{
							margin-bottom: 13px;
						}
						img{
							display: inline-block;
							position: relative;
							top: 1px;
							margin-right: 10px;
						}
					}
				}
			}
			&__video{
				width: 100%;
				max-width: 500px;
				border-radius: 10px;
				background: red;
				background: white;
				overflow: hidden;
			}
			@media screen and (max-width: $tablet-width){
				padding: 60px 20px 60px 20px;
				&__explanation{
					max-width: 100%;
					padding-right: 0;
					margin-bottom: 30px;
					&__title{
						text-align: center;
						font-size: 26px;
						margin-bottom: 20px;
					}
					&__paragraph{
						font-size: 14px;
						line-height: 24px;
						margin-bottom: 15px;
					}
					&__list{
						&__item{
							font-size: 14px;
							line-height: 24px;
							&:first-child{
								margin-bottom: 0px;
							}
							img{
								display: inline-block;
								position: relative;
								top: 1px;
								margin-right: 3px;
							}
						}
					}
				}
			}
			@media screen and (max-width: $mobile-width){
				&__video{
					iframe{
						height: 270px;
					}
				}
			}
			@media screen and (max-width: $mobile-width-small-devices){
				&__video{
					iframe{
						height: 200px;
					}
				}
			}
		}
	}
	.feedback{
		// min-height: 290px;
		box-sizing: border-box;
		padding: 60px 20px;
		width: 100%;
		max-width: $carousel-width;
		margin: 0 auto;
		overflow: auto;
		&__carousel{
			&__container{
				width: 100%;
				&__list{
					position: relative;
					height: 120px;
					// display: flex;
					// align-items: center;
					&__item{
						position: absolute;
						top: 0;
						display: inline-block;
						text-align: center;
						width: 100%;
						height: 100%;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						background: white;
						opacity: 0;
						z-index: 10;
						transition: all 1s ease-out;
						&.active{
							transition: all 2s ease-in;
							opacity: 1;
							z-index: 20;	
						}
						&__comment{
							width: 100%;
							font-family: $fh;
							font-size: 25px;
							line-height: 32px;
							font-style: italic;
							color: $gray;
							margin-bottom: 25px;
							@media screen and (max-width: $tablet-width) {
								font-size: 20px;
								margin-bottom: 20px;
							}
						}
						&__author{
							width: 100%;
							font-family: $fm;
							font-size: 18px;
							font-weight: 700;
							color: $black-smooth;
						}
					}
				}
				&__dots{
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					margin-top: 50px;
					&__dot{
						width: 12px;
						height: 12px;
						border-radius: 50%;
						border: 3px solid $blue;
						margin: 5px 3px;
						cursor: pointer;
						transition: all 0.2s ease-in-out;
						@media screen and (max-width: $mobile-width){
							width: 18px;
							height: 18px;
							margin: 7px 8px;
						}
						&.active{
							background: $blue;
							transition: all 0.5s ease-in-out;
						}
					}
				}
			}
		}
	}
	.plans{
		background: $gray-bg;
		height: 640px;
		box-sizing: border-box;
		&__container{
			width: 100%;
			max-width: $desktop-width;
			margin: 0 auto;
			box-sizing: border-box;
			padding: 60px 10px 60px 10px;
			&__header{
				max-width: 1020px;
				margin: 0 auto;
				text-align: center;
				&__title{
					font-family: $fm;
					font-size: 30px;
					font-weight: 700;
					margin-bottom: 25px;
					color: $black-smooth;
				}
				&__description{
					font-family: $fh;
					font-size: 16px;
					line-height: 26px;
					color: $gray;
				}
				@media screen and (max-width: $tablet-width){
					&__title{
						font-size: 26px;
						margin-bottom: 20px;
					}
					&__description{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
			&__list{
				padding-top: 60px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				&__item{
					box-sizing: border-box;
					width: 100%;
					max-width: 280px;
					text-align: center;
					transition: all 0.2s ease-in-out;
					background: $blue;
					margin: 0 2px;
					&__title{
						font-family: $fm;
						font-size: 28px;
						line-height: 60px;
						font-weight: 600;
						letter-spacing: 0.5px;
						height: 55px;
						color: white;
					}
					&__price{
						font-family: $fm;
						letter-spacing: -2px;
						font-weight: 800;
						font-size: 42px;
						line-height: 42px;
						color: $black-smooth;
						padding: 18px 0 8px 0;
						background: white;
						span{
							letter-spacing: 0px;
							font-size: 24px;
							position: relative;
							top: -11px;
							right: -5px;
						}
					}
					&__features{
						background: white;
						box-sizing: border-box;
						padding: 0 20px;
						&__item{
							border-top: 1px solid $gray;
							padding: 10px 0;
							font-family: $fh;
							font-size: 16px;
							line-height: 24px;
							color: $gray;
						}
					}
					&__purchase{
						height: 80px;
						display: flex;
						align-items: center;
						justify-content: center;
						&__button{
							display: inline-block;
							width: 137px;
							height: 40px;
							background: $blue-dark;
							text-transform: uppercase;
							color: white;
							font-family: $fm;
							font-weight: bold;
							letter-spacing: 0.5px;
							font-size: 15px;
							line-height: 42px;
							transition: all 0.2s ease-in-out;
							text-decoration: none;
							&:hover{
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: $plans-two-columns){
			height: auto;
			&__container{
				box-sizing: border-box;
				padding: 60px 20px 60px 20px;
				&__list{
					padding-top: 60px;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					justify-content: space-around;
					&__item{
						&:not(:last-child){
							margin-bottom: 20px;
						}
						@media screen and (max-width: $tablet-width){
							&__title{
								font-size: 25px;
								line-height: 55px;
								height: 50px;
							}
							&__price{
								font-size: 40px;
								line-height: 40px;
								padding: 15px 0 5px 0;
							}
							&__features{
								padding: 0 20px;
								&__item{
									border-top: 1px solid $gray;
									padding: 8px 0;
									font-size: 14px;
								}
							}
							&__purchase{
								height: 60px;
								&__button{
									height: 35px;
									font-size: 14px;
									line-height: 35px;
								}
							}
						}
						@media screen and (max-width: $mobile-width){
							max-width: 400px;
						}
					}
				}
			}
		}
	}
	.contact{
		padding: 0 20px 60px 20px;
		max-width: 1020px;
		margin: 120px auto 0 auto;
		text-align: center;
		&__title{
			font-family: $fm;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 20px;
			color: $black-smooth;
		}
		&__description{
			font-family: $fh;
			font-size: 16px;
			line-height: 26px;
			color: $gray;
		}	
		&__social{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 20px;
			&__item{
				cursor: pointer;
				width: 34px;
				height: 34px;
				border-radius: 50%;
				background: $gray-icon;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px 5px 5px;
				transition: all 0.3s ease-in-out;
				&:hover{
					background: $blue;
				}
			}
		}
		@media screen and (max-width: $plans-two-columns){
			margin-top: 60px;
		}
		@media screen and (max-width: $tablet-width){
			&__title{
				font-size: 26px;
				margin-bottom: 20px;
			}
			&__description{
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	.footer{
		padding: 60px 20px 60px 20px;
		text-align: center;
		background: $gray-bg;
		display: flex;
		justify-content: center;
		align-items: center;
		&__nav__list__item{
			display: inline-block;
			margin: 0 15px;
			a{
				font-family: $fh;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: $gray;
				text-decoration: none;
				transition: all 0.3s ease-in-out;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		@media screen and (max-width: $tablet-width){
			padding: 55px 20px 55px 20px;
			&__nav__list__item{
				margin: 0 10px 5px 10px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 9px;
					left: -10px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: $gray;
				}
			}
		}
	}
}


